@import url('../index.css');

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background: var(--light-mode-ele);
}

.toggle-mode {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo {
    font-size: 1em;
}


