@import url('../../index.css');

.search-order-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%; max-width: 1600px;
    margin:  2em  auto;
    padding: 0 40px;
}

.searchbar {
    width: 100%; 
    margin-bottom: 2em;
    text-indent: 30px;
} 

.search-icon {
    position: relative;
    top: 37px; left: 8px;
}

.searchbar, .select-region {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--light-mode-ele); 
    border: none !important;
    padding: 1em;
    border-radius: 5px;
}

@media screen and (min-width: 800px) {
    .search-order-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .search-wrapper {
        width: 40%;
    }

    .searchbar {
        margin-bottom: 0;
    }
}