@import url('../../index.css');

.outer-wrapper {
    width: 85%; max-width: 400px;
    margin: 2em auto;
}

.back-btn {
    padding: .2em 1em;
    width: 90px;
}

.back-icon {
    background: url('../../assets/arrow.svg') no-repeat center;
    width: 20px; height: 30px;
}

.inner-wrapper {
    margin: 1em 0;
    display: flex; flex-direction: column;

}

.flag-wrapper {
    margin: 3em 0 .5em;
}

.stats-one, .stats-two, .border-countries {
    padding: 1em 0;
}

.stats-one p, .stats-two p, .border-countries div {
    padding: .5em 0;
}

.stats-one h2 {
    padding: 1em 0;
}

.border-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
}

.flag-country {
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 900px){
    .inner-wrapper {
        flex-direction: row;
        margin: 2em auto;
    }

    .outer-wrapper {
        width: 90%; max-width: 1800px;
    }

    .flag-wrapper {
       width: 50%;
    }

    .info-wrapper {
        width: 50%;
    }

    .info-inner {
        display: flex; flex-direction: row;
        align-items: center; justify-content: space-between;
        gap: 2em;
        padding: 2.5em 1em;
    }

    .flag-country {
        width: 560px;
        height: 400px;
    }

    .border-countries {
        display: flex; justify-content: center;
        align-items: center; gap: .5em; flex-wrap: wrap;
    }

    .back-btn {
        padding: .2em 1em;
        width: 130px;
    }
}