@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--light-mode-txt);
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--light-mode-bg);
}

:root {
  --dark-mode-ele: hsl(209, 23%, 22%);
  --light-mode-ele: hsl(0, 0%, 100%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-bg: hsl(0, 0%, 98%);
  --dark-mode-txt: hsl(0, 50%, 98%);
  --light-mode-txt: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
}

.loading, .error {
  text-align: center;
  margin: 40px auto;
}

.border-box-shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: var(--light-mode-ele);
  display: flex; justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar.dark, input.dark {
  background-color: rgb(250, 197, 4) !important;
}

.logo.dark, p.dark {
  color: var(--dark-mode-txt);
}


.App.dark {
  background: rgb(14, 55, 97) !important;
  color: var(--dark-mode-txt);
  transition: .2s ease-in;
}

.card.dark, .searchbar.dark, .select-region.dark, .button.dark{
  background: rgb(2, 64, 126) !important;
  color: var(--dark-mode-txt);
}

