@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--light-mode-txt);
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--light-mode-bg);
}

:root {
  --dark-mode-ele: hsl(209, 23%, 22%);
  --light-mode-ele: hsl(0, 0%, 100%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-bg: hsl(0, 0%, 98%);
  --dark-mode-txt: hsl(0, 0%, 100%);
  --light-mode-txt: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
}

.loading, .error {
  text-align: center;
  margin: 40px auto;
}

.border-box-shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

